.about {
  margin: 0px auto 120px;
  // .about__content

  &__content {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
  }

  // .about__title

  &__title {
    margin: 0px 10px 0px 0px;
    flex: 1 0 250px;

    & p {
      font-size: var(--font-size-20);
      font-weight: 500;
      line-height: 39px;
    }
  }

  // .about__info

  &__info {
    & p {
      color: var(--color-text);
      &:not(:last-child) {
        margin: 0px 0px 12px 0px;
      }
    }
  }
}
