.button {
    display: block;
    margin: 0px 0px 0px auto;
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--font-family);
    padding: 15px 40px;
    border-radius: 10px;
    transition: filter var(--time-trans) ease;
}
@media (any-hover: hover) {
    .button:hover {
        filter: brightness(95%);
    }
}
.button:active {
    filter: brightness(85%);
}
